.project-box-container {
  margin: 3rem 1rem;
}

.home-title {
  color: #4a4a4a;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;

  &.main {
    padding-left: 8rem;
  }

}

.project-promo {
  background-color: #f1f1f1;
  padding: 4rem 0;
}

.video-promo {

  img {
    width: 40rem;
  }

}

.mailing-list {
  background-color: #fff;
  padding: 3rem 0;
}

.form-control {
  height: 3rem;
  box-shadow: 5px 4px 29px 0 rgba(0, 0, 0, 0.08);
  border: navajowhite;
}

.input-group-text {
  background-color: #fc783d;
  color: #fff;
  border: none;
  box-shadow: 5px 4px 29px 0 rgba(0, 0, 0, 0.08);
}

