<div class="jumbotron jumbotron-fluid d-none">
  <div class="container">
    <h1 class="display-4">Place holder para imagen</h1>
    <p class="lead">Frase catchy =)</p>
  </div>
</div>
<app-header-home></app-header-home>

<h2 class="home-title main">Proyectos Destacados</h2>

<section class="project-box-container row">
  <div class="container-fluid row justify-content-center">
    <app-project-box class="col-sm-5" *ngFor="let project of starredProjectList" [project]="project"></app-project-box>
  </div>

  <div class="text-right d-none">
    <a class="" href="">Ver más <i class="fa fa-angle-double-right"></i></a>
  </div>
</section>

<section class="project-promo">

  <h2 class="text-center home-title">¿Quiénes Somos?</h2>
  <div class="video-promo text-center">
    <img src="../../../assets/video.png" class="figure-img img-fluid mat-raised-shadow" alt="Project image">
  </div>


  <div class="project-invest-action text-center d-none">
    <a href="">
      <button mat-raised-button >Invertir Ya</button>
    </a>
  </div>

</section>

<section class="mailing-list">

  <h2 class="text-center home-title">Suscríbete</h2>

  <p class="text-center">Recibe notificaciones de nuevos proyectos</p>


  <div class="input-group mb-3 col-sm-6 offset-3">
    <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">Enviar</span>
    </div>
  </div>


</section>

