@import "../../../variables";

.header {
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  height: 3rem;
  background-color: #fff;
}

.menu-option {
  color: #4a4a4a;
  margin-left: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'Fredoka One', cursive;
  padding-right: 5rem;

  &.active {
    color: $primaryColor;
  }

}

@media (min-width: 768px) {
  .header {
    margin-bottom: 4rem;
    height: 6rem;
  }

  .logo {

    img {
      width: 6rem;
    }
  }

}