.footer {
  background-color: #fff;
  margin-top: 0.5rem;
  padding: 2rem 0;
}

.social-icon-container {
  padding: 1rem;

  .fa {
    font-size: 2rem;
  }

}

.footer-title {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.footer-ul {
  padding-left: 0;
}

.footer-li {
  list-style: none;
  color: #6c6c6c;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .footer {
    //margin-top: 4rem;
  }
}