<footer class="footer card text-center d-none">
  <div class="card-body">
    <h5 class="card-title">Visítanos en nuestras redes sociales</h5>
    <div class="social-buttons text-center">
      <a class="social-icon-container" href=""><i class="fa fa-facebook-square"></i></a>
      <a class="social-icon-container" href=""><i class="fa fa-instagram"></i></a>
      <a class="social-icon-container" href=""><i class="fa fa-twitter-square"></i></a>
      <a class="social-icon-container" href=""><i class="fa fa-youtube-play"></i></a>
    </div>
  </div>
  <div class="card-footer text-muted">
    Derechos Reservados por Moai =)
  </div>
</footer>

<footer class="row footer">
  <section class="col-sm-2 offset-sm-1 logo">
    <app-logo [logoColor]="'green'"></app-logo>
  </section>
  <section class="col-sm-8 row">

    <div class="col-sm-3">
      <h5 class="footer-title text-uppercase">Product</h5>
      <ul class="footer-ul">
        <li class="footer-li">Popular</li>
        <li class="footer-li">Trending</li>
        <li class="footer-li">Catalog</li>
        <li class="footer-li">Features</li>
      </ul>
    </div>

    <div class="col-sm-3">
      <h5 class="footer-title text-uppercase">Company</h5>
      <ul class="footer-ul">
        <li class="footer-li">Press Releases</li>
        <li class="footer-li">Mission</li>
        <li class="footer-li">Strategy</li>
        <li class="footer-li">Works</li>
      </ul>
    </div>

    <div class="col-sm-3">
      <h5 class="footer-title text-uppercase">Info</h5>
      <ul class="footer-ul">
        <li class="footer-li">Support</li>
        <li class="footer-li">Developers</li>
        <li class="footer-li">Customer Service</li>
        <li class="footer-li">Get Started Guide</li>
      </ul>
    </div>

    <div class="col-sm-3">
      <h5 class="footer-title text-uppercase">Follow Us</h5>
      <ul class="footer-ul d-flex justify-content-between">
        <li class="footer-li social"><a><img src="../../../assets/icon-facebook.svg" alt="Facebook"></a></li>
        <li class="footer-li social"><a><img src="../../../assets/icon-twitter.svg" alt="Twitter"></a></li>
        <li class="footer-li social"><a><img src="../../../assets/icon-instagram.svg" alt="Instagram"></a></li>
        <li class="footer-li social"><a><img src="../../../assets/icon-youtube.svg" alt="YouTube"></a></li>
      </ul>
    </div>

  </section>
</footer>