<app-header></app-header>

<section class="container-fluid">

  <h1 class="project-title offset-md-1 text-uppercase">ALBERJA EN PAIPA</h1>

  <section class="project-main-description row">

    <div class="col-md-6 offset-md-1 project-media">
      <img src="../../../assets/arveja.png" class="img-fluid mat-raised-shadow" alt="Project image">
    </div>

    <div class="col-md-4">

      <mat-card class=" project-description">
        <mat-card-content>
          <h3 class="detail-subtitle">SOBRE ESTE PROYECTO</h3>

          <div class="project-resource-item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet efficitur turpis, nec gravida felis. In ac nulla facilisis, feugiat metus vel, maximus ipsum. In imperdiet, turpis in tincidunt venenatis, elit purus semper orci, sed volutpat orci eros et libero. Donec mollis tellus id sapien facilisis scelerisque. Quisque efficitur lacus felis, ut dapibus lacus ultrices in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum nulla ex. Maecenas tincidunt at lectus sit amet rhoncus. Nulla vel elit dolor.
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class=" project-risks">
        <mat-card-content>
          <h3 class="detail-subtitle">RIESGO</h3>

          <div class="project-resource-item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet efficitur turpis, nec gravida felis. In ac nulla facilisis, feugiat metus vel, maximus ipsum. In imperdiet, turpis in tincidunt venenatis, elit purus semper orci, sed volutpat orci eros et libero. Donec mollis tellus id sapien facilisis scelerisque. Quisque efficitur lacus felis, ut dapibus lacus ultrices in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum nulla ex. Maecenas tincidunt at lectus sit amet rhoncus. Nulla vel elit dolor.
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </section>

  <section class="project-secondary-description row">

    <div class="col-sm-6 project-resources">
      <mat-card class="example-card">
        <mat-card-content>
          <h2 class="detail-subtitle text-center">RECURSOS NECESARIOS</h2>

          <div class="project-resource-item row">
            <div class="col-md-3 text-center">
              <img src="../../../assets/tierra.svg" alt="" class="mat-raised-shadow resource-media">
            </div>

            <div class="col-md-9 resource-description">
              <p class="resource-title">Tierras</p>
              <mat-progress-bar class="percentage-bar" mode="determinate" value="80"></mat-progress-bar>
            </div>

          </div>

          <div class="project-resource-item row">
            <div class="col-md-3 text-center">
              <img src="../../../assets/mano-de-obra.svg" alt="" class="mat-raised-shadow resource-media">
            </div>

            <div class="col-md-9 resource-description">
              <p class="resource-title">Inversión monetaria</p>
              <mat-progress-bar class="percentage-bar" mode="determinate" value="40"></mat-progress-bar>
            </div>

          </div>

          <div class="project-resource-item row">
            <div class="col-md-3 text-center">
              <img src="../../../assets/semillas.svg" alt="" class="mat-raised-shadow resource-media">
            </div>

            <div class="col-md-9 resource-description">
              <p class="resource-title">Mano de obra</p>
              <mat-progress-bar class="percentage-bar" mode="determinate" value="30"></mat-progress-bar>
            </div>

          </div>

          <div class="project-resource-item row">
            <div class="col-md-3 text-center">
              <img src="../../../assets/transporte.svg" alt="" class="mat-raised-shadow resource-media">
            </div>

            <div class="col-md-9 resource-description">
              <p class="resource-title">Transporte</p>
              <mat-progress-bar class="percentage-bar" mode="determinate" value="10"></mat-progress-bar>
            </div>

          </div>


        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-6 project-status">
      <mat-card class="">
        <mat-card-content>
          <div class="investment-percentage">
            <mat-progress-bar class="percentage-bar" mode="determinate" value="50"></mat-progress-bar>
            <p class="description">50% de inversión</p>
          </div>


          <div class="project-metrics">
            <div class="number">241</div>
            <div class="description">INVERSORES</div>
          </div>
          <div class="project-metrics">
            <div class="number">34</div>
            <div class="description">DÍAS RESTANTES</div>
          </div>

          <div class="project-metrics">
            <div class="number">10 - 15 %</div>
            <div class="description">PORCENTAJE DE GANANCIA</div>
          </div>

          <div class="project-metrics">
            <div class="number">10%</div>
            <div class="description">PORCENTAJE DE RIESGO</div>
          </div>


        </mat-card-content>
        <mat-card-actions class="text-center">
          <a routerLink="/invertir" class="invest" mat-raised-button color="warn">Invertir</a>
        </mat-card-actions>
      </mat-card>
    </div>

  </section>

  <section class="project-legal-info d-flex flex-column d-none">
    <a href="" class="terms-and-conditions legal-links d-none" mat-raised-button>Términos Legales.pdf</a>
    <a href="" class="business-plan legal-links d-none" mat-raised-button>Descargar Plan de Negocio.pdf</a>
  </section>
  <section class="project-objectives row">

    <div class="col-sm-4 investment-risks">
      <h3 class="section-title text-center">Riesgos</h3>
      <mat-card class="objective-item">
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mi nisl, tristique nec consequat at, tempus eu dui. Etiam eu lectus id mauris sollicitudin ullamcorper sed quis lacus. Mauris interdum, sapien at gravida dictum, ex nisi fringilla mauris, sed aliquam risus elit et enim. In hac habitasse platea dictumst.
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-4 investment-risks">
      <h3 class="section-title text-center">Misión</h3>
      <mat-card class="objective-item">
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mi nisl, tristique nec consequat at, tempus eu dui. Etiam eu lectus id mauris sollicitudin ullamcorper sed quis lacus. Mauris interdum, sapien at gravida dictum, ex nisi fringilla mauris, sed aliquam risus elit et enim. In hac habitasse platea dictumst.
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-4 investment-risks">
      <h3 class="section-title text-center">Alcance</h3>
      <mat-card class="objective-item">
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mi nisl, tristique nec consequat at, tempus eu dui. Etiam eu lectus id mauris sollicitudin ullamcorper sed quis lacus. Mauris interdum, sapien at gravida dictum, ex nisi fringilla mauris, sed aliquam risus elit et enim. In hac habitasse platea dictumst.
        </mat-card-content>
      </mat-card>
    </div>


  </section>

</section>

