.investment-percentage {
  padding: 1rem 2rem;
}

.legal-links {
  margin-bottom: 1rem;
}

.objective-item {
  min-height: 120px;
}

.project-title {
  font-size: 1.8rem;
  font-weight: 400;
}

.detail-subtitle {
  font-size: 1.3rem;
  font-family: Montserrat;
}

.project-risks {
  margin-top: 1rem;
}

.resource-title {
  color: #4a4a4a;
  font-family: Montserrat;
  font-size: 1.1rem;
}

.project-resource-item {
  margin-bottom: 1rem;
}

.project-metrics {

  border-right: 1px solid #ebebeb;


  .metric-item {

    text-align: left;
    font-family: Montserrat;


  }

  .number {
    font-size: 1.5rem;
  }

  .description {
    color: #a0a0a0;
  }

}

.project-secondary-description {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.description {
  color: #a0a0a0;
  text-align: left;
  font-family: Montserrat;
}

.invest {
  background-color: #fc783d;
}